@import "tailwindcss";



:root {
  --primary-color: #F68C1E; /* Tailwind's green-400 */
  --secondary-color: #0d0f36; /* Tailwind's yellow-400 */
  --dark-color:#000;
  --background-color: #1f2937; /* Tailwind's gray-800 */
  --text-color: #161718; /* Tailwind's gray-50 */
}
body{
  font-family: "Bricolage Grotesque", sans-serif;
}