@import "tailwindcss";

:root,
[data-theme="light"],
[data-theme="dark"] {
  --primary-color: #f68c1e;
  --secondary-color: #0d0f36;
  --dark-color: #000000;
  --background-color: #ffffff;
  --text-color: #161718;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: "Bricolage Grotesque", sans-serif;
}

* {
  box-sizing: border-box;
}